.footer {
  padding-top: 1.6rem;
  padding-bottom: 1.8rem;
  background-color: #edeeee;
  margin-top: 3.4rem;
}

.footer__block {
  text-align: center;
  margin-bottom: .5rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  img {
    margin-bottom: .4rem;
  }
}

.footer__link {
  display: block;
  font-family: GothaR;
  font-size: 13px;
  line-height: 1.6;
  color: #000;
}

.footer__social-link {
  text-align: center;
  display: block;
  &:hover {
    transition: all .3s linear;
    opacity: .5;
  }
}

.footer__logo-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  &:first-of-type {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 1.6rem 1rem 1.8rem;
    [class*=col-] {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer__logo-container {
    margin: 0;
    &:first-of-type {
      display: block;
    }
    &:last-of-type {
      display: none;
    }
  }

  .footer__block {
    margin-bottom: 0;
    &:hover {
      transition: all .3s linear;
      opacity: .5;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 4rem 1rem 6.5rem;
    [class*=col-] {
      justify-content: flex-start;
    }
    .container--width {
      max-width: 100%;
    }
  }

  .footer__logo-container:first-of-type {
    margin-right: 9%;
  }

  .footer__block {
    text-align: left;
    margin-right: 10%;
    align-self: flex-start;
  }

  .footer__social-link {
    align-self: flex-start;
    margin-left: 25.6%;
  }
}
