.sec-04 {
  background-color: #1c1c1c;
}

.sec-04__title {
  font-family: GothaB;
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #0e0e0e;
  padding-top: 1.4rem;
  padding-bottom: 1.2rem;
  margin-bottom: .4rem;
}

.sec-04__projects-container-mob {
  .sec-04__project-block {
    background-color: #0e0e0e;
    padding-top: 1.2rem;
    padding-bottom: 1.1rem;
    margin-bottom: .2rem;
    &:first-of-type {
      padding-top: .4rem;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .sec-04__project-block-title {
    font-family: GothaB;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1.3rem;
    span {
      display: block;
      font-family: GothaR;
    }
  }

  .sec-04__project-block-link {
    display: block;
    font-family: GothaB;
    font-size: 12px;
    text-align: center;
    color: #9d2703;
    img {
      width: 15px;
      margin-left: .8rem;
    }
  }
}

.sec-04__projects-container-desc {
  display: none;
}

@media (min-width: 768px) {
  .sec-04 {
    background-color: transparent;
  }

  .sec-04__title {
    background-color: transparent;
    color: #000;
    font-size: pxToRem(24px);
  }

  .sec-04__projects-container-mob {
    display: none;
  }

  .sec-04__projects-container-desc {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background-color: #1c1c1c;
  }

  .sec-04__project-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f342e;
    width: 16%;
    text-align: center;
    line-height: 1.2;
  }

  .sec-04__project-block-title {
    font-family: GothaB;
    font-size: pxToRem(12px);
    text-transform: uppercase;
    color: #fff;
    display: block;
    width: 100%;
    padding: 1rem 0;
    &:hover {
      transition: all .5s linear;
      background-color: #c03002;
    }
  }
}

@media (min-width: 1200px) {
  .sec-04 {
    padding-top: 6.7rem;
    padding-bottom: 7.9rem;
  }

  .sec-04__title {
    font-size: pxToRem(37px);
    margin-bottom: 2.2rem;
  }

  .sec-04__projects-container-desc {
    width: 75%;
  }

  .sec-04__project-block {
    width: 16.4%;
  }

  .sec-04__project-block-title {
    padding: 1.4rem 0;
  }
}
