.sec-02 {
  .row [class*=col-]:first-of-type {
    margin-bottom: 2.5rem;
  }
  .sec-02__article {
    &:hover {
      transition: all .5s linear;
      transform: scale(.95);
    }
  }
}

.sec-02__title {
  font-family: GothaB;
  font-size: .8rem;
  padding: 2rem .5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
  color: #fff;
  background-image: url("img/sec-01/bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

.sec-02__article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sec-02__article-content {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sec-02__article-text {
  font-family: GothaB;
  font-size: .8rem;
  line-height: 1.2;
  margin-bottom: .5rem;
}

.sec-02__article-tags,
.sec-02__news-tags,
.sec-02__recomendation-tags {
  font-family: GothaR;
  font-size: .6rem;
  color: #969696;
}

// NEWS
.sec-02__news-container,
.sec-02__recomendation-container {
  background-color: #f8f8f8;
  padding: 1rem .5rem;
  border-top: 3px solid #000;
  margin-bottom: 2rem;
}

.sec-02__news,
.sec-02__recomendation {
  padding-bottom: .5rem;
  border-bottom: 2px solid #969696;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all .5s linear;
  &:first-of-type {
    &:hover {
      opacity: 1;
      .sec-02__news-text {
        transition: all .3s linear;
        opacity: .5;
      }
      .sec-02__news-tags {
        transition: all .3s linear;
        opacity: .5;
      }
      .sec-02__recomendation-text {
        transition: all .3s linear;
        opacity: .5;
      }
      .sec-02__recomendation-tags {
        transition: all .3s linear;
        opacity: .5;
      }
    }
  }
  &:hover {
    transition: all .3s linear;
    opacity: .5;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.sec-02__news-title,
.sec-02__recomendation-title {
  font-family: GothaM;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  border-bottom: 2px solid #969696;
}

.sec-02__news-text,
.sec-02__recomendation-text {
  font-family: GothaR;
  font-size: 1rem;
  padding-right: 2rem;
  line-height: 1.2;
  margin-bottom: .5rem;
}

@media (max-width: 767px) {
  .sec-02__article-plashka {
    display: none;
  }

  .sec-02__article {
    &:nth-of-type(n+6) {
      display: none;
    }
  }

  .sec-02__article {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .sec-02__title {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 4rem .5rem;
  }

  .sec-02 {
    .sec-02__article-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .sec-02__article {
      flex-direction: column;
      width: 48%;
      &:nth-of-type(1) {
        position: relative;
        .sec-02__article-content {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: rgba(63,52,46,.8);
        }
      }
      &:nth-of-type(6) {
        position: relative;
        .sec-02__article-content {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: rgba(63,52,46,.8);
        }
      }
    }

    .sec-02__article-content {
      background-color: #3f342e;
      padding: 0 1rem;
      height: 36.2%;
      justify-content: center;
    }

    .sec-02__article-picture {
      display: block;
      margin-bottom: -1px;
      height: 64.1%;
      img {
        display: block;
        width: 100%;
      }
    }

    .sec-02__article-text {
      color: #fff;
      margin-bottom: 1rem;
      font-size: .9rem;
      padding-right: 1.4rem;
    }

    .sec-02__article-plashka {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(63,52,46,.8);
    }

    .sec-02__article-plashka-text {
      font-family: GothaR;
      font-size: .7rem;
      text-transform: uppercase;
      padding: 1rem;
      color: #fff;
    }
  }
}

@media (min-width: 1200px) {
  .sec-02__title {
    font-size: pxToRem(28px);
  }

  .sec-02 {
    .sec-02__article {
      width: 32%;
    }
  }
}
