.sec-03 {
  padding-top: 4.2rem;
  padding-bottom: 2.9rem;
}

.sec-03__title {
  font-family: GothaB;
  font-size: pxToRem(19px);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}

.sec-03__theme-block {
  font-family: GothaB;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 270px;
  margin: auto;
  background-color: #f4f4f4;
  padding: .7rem 0;
  margin-bottom: .9rem;
}

@media (max-width: 767px) {
  .sec-03__theme-block {
    &:nth-of-type(n+5) {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .sec-03__title {
    font-size: pxToRem(24px);
    margin-bottom: 1.4rem;
  }

  .sec-03__theme-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sec-03__theme-block {
    width: 12%;
    margin-bottom: 1rem;
    &:nth-of-type(n+9) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .sec-03 {
    padding-top: 10.3rem;
  }

  .sec-03__title {
    font-size: pxToRem(41px);
    margin-bottom: 3.4rem;
  }

  .sec-03__theme-block {
    padding: 1rem 0;
    margin-bottom: 2.8rem;
  }
}
