.sec-05 {
  padding-top: 2rem;
  .sec-05__best-of-half-year-img {
    width: 80%!important;
    margin-bottom: 1rem;
  }
  .sec-02__article-date {
    margin-right: .5rem;
  }
  .sec-02__article-review img {
    width: auto!important;
    display: inline;
  }
}

.sec-05__title {
  font-family: GothaB;
  font-size: 1rem;
  text-transform: uppercase;
}

.sec-05__best-of-half-year {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sec-05__best-of-half-year-text {
  font-family: GothaB;
  font-size: .85rem;
  padding-right: 1rem;
  line-height: 1.2;
  margin-bottom: .5rem;
}


.sec-05__project-title {
  font-family: GothaB;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.sec-05__project-link {
  display: block;
  font-family: GothaB;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0;
  text-align: center;
  width: 12rem;
  background-color: #231f20;
  color: #fff;
  &:hover {
    transition: all .5s linear;
    background-color: #bf3002;
  }
}

.sec-05__best-of-half-year-slider {
  .slide {
    cursor: pointer;
    &:hover {
      transition: all .5s linear;
      opacity: .8;
    }
  }
}

@media (min-width: 768px) {
  .sec-05__title {
    font-size: 1.2rem;
  }

  .sec-05 {
    .sec-03__best-link {
      display: none;
    }
    .sec-05__best-of-half-year-img {
      width: 95%!important;
    }
    .sec-05__best-of-half-year {
      .owl-nav {
        display: flex!important;
        position: absolute;
        right: -.9rem;
        top: 32%;
        .owl-next {
          width: 1.5rem;
        }
      }
    }
  }

  .sec-05__project-title {
    font-size: 1.2rem;
  }

  .sec-05__best-of-half-year {
    margin-bottom: 4rem;
  }

  .sec-05__project-container {
    .owl-nav {
      display: flex!important;
      position: absolute;
      right: 0rem;
      top: 50%;
      transform: translateY(-50%);
      .owl-next {
        width: 1.5rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .sec-05__title {
    font-size: 1.375rem;
  }

  .sec-05__best-of-half-year-text {
    font-size: pxToRem(15px);
  }

  .sec-05__project-container {
    .owl-nav {
      display: none!important;
    }
  }

  .sec-05__project-link {
    width: 11rem;
  }
}
