.sec-03 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  .owl-item.active {
    .sec-03__section-link {
      color: #fff;
      background-color: #bf3002;
      box-shadow: 0 0 13px -4px #bf3002;
    }
  }
}

.sec-03__title {
  font-family: GothaB;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.sec-03__section-link {
  display: block;
  padding: .5rem 0;
  font-family: GothaB;
  font-size: 1.2rem;
  text-align: center;
  color: #000;
  background-color: #f8f8f8;
  box-shadow: 0 0 13px -4px #000;
  width: 12rem;
}

.sec-03__select-section {
  margin-bottom: 2rem;
}

// BEST
.sec-03__best-article {
  background-color:  #f8f8f8;
  padding: 1rem .5rem;
}

.sec-03__best-title {
  font-family: GothaB;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.sec-03__best-link {
  font-family: GothaR;
  font-size: .7rem;
  display: inline-block;
  background-color: #f8f8f8;
  padding: .3rem;
  width: 4rem;
  text-align: center;
  box-shadow: 0 0 1px 2px #eaeaea;
  border-radius: 5px;
  margin-top: 1.5rem;
}
