.sec-04 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sec-04__title {
  font-family: GothaB;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.sec-04__collections-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.sec-04__collections-header-content {
  padding-left: 1rem;
}

.sec-04__collections-header-title {
  font-family: GothaB;
  font-size: .9rem;
  margin-bottom: .5rem;
  line-height: 1.2;
}

.sec-04__collections-header-tag {
  font-family: GothaR;
  font-size: .6rem;
}

.sec-04__collections-content {
  font-family: GothaR;
  font-size: .8rem;
  line-height: 1.4;
  padding-right: 2rem;
  span {
    display: block;
    margin-bottom: .5rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .sec-04__title {
    font-size: 1.2rem;
  }

  .sec-04__collections-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }

  .sec-04__collections {
    width: 40%;
    &:nth-of-type(-n+2) {
      margin-bottom: 1rem;
    }
  }

  .sec-04__collections-header {
    align-items: flex-start;
  }
}
